.container {

    height: 300px;
    width: 300px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    flex-direction: column;
}


.container div {
    width: 10px;
    height: 10px;
    border: 1px solid darkslategray;
    background: skyblue;
    flex: 1 1 auto;
}